# Server Configuration
SERVER_PORT=8080

# Security (JWT)
JWT_SECRET=your_super_secret_jwt_key_here_must_be_long_enough

# Downstream Service URLs
AUTH_SERVICE_URL=http://
AUCTION_SERVICE_URL=http://
CATALOG_SERVICE_URL=http://
WALLET_SERVICE_URL=http://
